@import "../../../../../../twbs/bootstrap/less/variables.less";

.define-bar-if-not-defined() {
	@screen-xs-min: 480px;
	@screen-sm-min: 768px;
	@screen-md-min: 992px;
	@screen-lg-min: 1200px;
}
// exposes a variable only if it's not already in this scope.
.define-bar-if-not-defined(); 

@screen-xs-min: @screen-xs-min;
@screen-sm-min: @screen-sm-min;
@screen-md-min: @screen-md-min;
@screen-lg-min: @screen-lg-min;
