@import "../../../../../../twbs/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$screen-xs-min: if(variable-exists(screen-xs-min), $screen-xs-min, 480px) !default;
$screen-sm-min: if(variable-exists(screen-sm-min), $screen-sm-min, 768px) !default;
$screen-md-min: if(variable-exists(screen-md-min), $screen-md-min, 992px) !default;
$screen-lg-min: if(variable-exists(screen-lg-min), $screen-lg-min, 1200px) !default;

